<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="pesqwebserviceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.201.193.100/seekloc/webservice.php" binding="basicHttpBinding" bindingConfiguration="pesqwebserviceBinding" contract="pesqwebservice.pesqwebservicePortType" name="pesqwebservicePort" />
    </client>
  </system.serviceModel>
</configuration>